/* .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.link {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 1.5rem;
  color: #232323;
  font-weight: 400;
  text-shadow: -1px 1px 1px hsla(0, 2%, 71%, 0.8);
}

.active {
  composes: link;
  color: #008000;
  text-shadow: none;
}

.link:hover {
  color: #0d7d7d;
  text-shadow: none;
}

.active:hover {
  color: #008000;
}
